<div class="app-shell">
  <p-toolbar class="app-shell__header">
    <ng-template #start>
      <div class="app-shell__title-block">
        <h1 class="app-shell__title">BAUKLANK Studio</h1>
        <span class="app-shell__version">
          FE: <strong>v{{ appVersion }}</strong>@if (buildDate) { - {{ buildDate }}}@if (apiVersion()) { | API: <strong>v{{ apiVersion() }}</strong>@if (apiBuildDate()) { - {{ apiBuildDate() }}}}
        </span>
      </div>
    </ng-template>
    <ng-template #end>
      <p-tabs class="app-shell__mode-tabs" [value]="activeMode()" (valueChange)="onModeChange($event)">
        <p-tablist>
          @if (isSerialSupported) {<p-tab value="direct">Direct</p-tab>}
          <p-tab value="commander">Commander</p-tab>
        </p-tablist>
      </p-tabs>
    </ng-template>
  </p-toolbar>

  <main class="app-shell__content">
    <router-outlet></router-outlet>
  </main>
</div>
